<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target xsi:type="File" 
            name="logfile" 
            fileName="${basedir}/logs/logging.log"
            layout="${longdate} ${logger} ${uppercase:${level}} ${message}" encoding="UTF-8" deleteOldFileOnStartup="true" />
    <!--<target xsi:type="Database"
            name ="signin-logdb"
            dbProvider="Npgsql"
            connectionString="Server=ec2-54-221-223-92.compute-1.amazonaws.com;Port=5432;Database=dfk0m0oes9qus9;User id=qoojzadonwbsem;Password=QuduSwUkhS1KaS4r4g3esLr4VD;SSL=true"
            commandText=""/>-->
    </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    
  </rules>
</nlog>